:root {
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg-body);
}
.search-bar{
    background-color: var(--color-bg-search-bar);
}
.my-form-control{
    border:none
}
.my-form-control:focus{
    box-shadow: none;
    background-color: var(--color-bg-search-bar);
}
.my-form-floating>.my-form-control:focus~label::after{
    background-color: var(--color-bg-search-bar);
}
@media screen and (max-width: 1200px){
    .fa-bars,
    .fa-circle-question,
    .fa-ellipsis-vertical{
        display: none;
    }
}